.dhtmlwindow{
	position: absolute;
	border: 1px solid #9BAFDE;
	visibility: hidden;
	background-color: #666666;
}
.drag-handle{ /*CSS for Drag Handle*/
	text-indent: 3px;
	color: #11449E;
	cursor: move;
	overflow: hidden;
	width: auto;
	background-image: url(../pages/image/windows_tbg.gif);
	height:20px;
	font-family: Arial;
	font-size: 13px;
	line-height: 18px;
	font-weight: bold;
}
.drag-handle .drag-controls{ /*CSS for controls (min, close etc) within Drag Handle*/
	position: absolute;
	right: 1px;
	top: 2px;
	cursor: hand;
	cursor: pointer;
}
.drag-contentarea{ /*CSS for Content Display Area div*/
	background-color: white;
	color: black;
	height: 150px;
	padding: 2px;
	overflow: auto;
}
.drag-statusarea{ /*CSS for Status Bar div (includes resizearea)*/
	background-color: #F8F8F8;
	height: 13px; /*height of resize image*/
}
.drag-resizearea{ /*CSS for Resize Area itself*/
	float: right;
	width: 13px; /*width of resize image*/
	height: 13px; /*height of resize image*/
	cursor: nw-resize;
	font-size: 0;
}
#interVeil{ /*CSS for veil that covers entire page while modal window is visible*/
	position: absolute;
	background: black url(../pages/image/blackdot.gif);
	width: 10px;
	left: 0;
	top: 0;
	z-index: 5;
	visibility: hidden;
	filter:progid:DXImageTransform.Microsoft.alpha(opacity=80);
	opacity: 0.8;
}