*{ margin:0;padding:0;}
#wrapper{
	width: 1003px;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	background-image: url(../pages/image/bglogon.jpg);
	background-repeat: repeat-y;
}
#index_t{
	height:190px;
	background-image: url(../pages/image/top_bg.jpg);
	background-repeat: no-repeat;
}
#index_t2{
	height:268px;
	background-image: url(../pages/image/top_bg2.jpg);
	background-repeat: no-repeat;
}
#index_d{
	background-image: url(../pages/image/bottom_bg.jpg);
	background-repeat: no-repeat;
	padding-bottom: 0px;
}
#index_z{
	background-image: url(../pages/image/bottom_bg.jpg);
	background-repeat: no-repeat;
	padding-bottom: 0px;
	height:100px;
}
#left{ width:250px;
        float:left;}
		
#right{
	width:50px;
	float:left;
	padding-top: 50px;
}
		
#box_body{ height:200px; padding:10px 0px 0px 600px;}
#form{width:400px;}
#form ul {display:inline;LIST-STYLE-TYPE: none;}
#form li {white-space:nowrap;float:left;}
#form ul li.title{
	height:30px;
	background-image:url(../pages/image/title.gif);
	background-repeat: no-repeat;
	background-position: center;
	width:250px;
}
#form ul li.id{
	background-image:url(../pages/image/login_id.gif);
	background-repeat: no-repeat;
	height:33px;
	padding-left:70px;
	padding-top: 6px;
	width:227px;
	padding-right: 0px;
}
#form ul li.pw{
	background-image:url(../pages/image/login_pw.gif);
	background-repeat: no-repeat;
	height:33px;
	padding-left:70px;
	padding-top: 5px;
	width:227px;
	padding-right: 0px;
}
#form ul li.jg{
	background-image:url(../pages/image/login_jg.gif);
	background-repeat: no-repeat;
	height:25px;
	padding-left:55px;
	padding-top: 10px;
}
#form ul li.yy{
	background-image:url(../pages/image/login_yy.gif);
	background-repeat: no-repeat;
	height:25px;
	padding-left:55px;

}
#form ul li.font{
	width:95px;
	line-height: 34px;
	margin-top:10px;
}
#form ul li.font a{
	color:#FF6600;
	font-family: Verdana, "ו";
	font-size: 14px;
	font-weight: bold;
	height:40px;
	text-decoration: none;
}
#form ul li.button{
	width:93px;
	margin-top:0px;
	padding: 0px;
}

.login_input{
	width:125px;
	height:20px;
	border: 0px solid;
	margin-top:0px;
	color:#01a2b8;
	font-family: Verdana, "ו";
	font-size: 12px;
	padding: 0px;
	background-color: #FFFFFF;
}
.login_yy{
	border: 1px solid #D38983;
	margin-top:2px;
	color:#333333;
	font-family: Verdana, "ו";
	font-size: 14px;
}


.box_t{
	width:90px;
	float:right;
}
