body {
	min-width: 630px;
	margin: 0;
	padding: 0;
	background: #FFF;
}

.mian_head{
	height:50px;
	background-image:url(../pages/image/mian_head_bg.gif);
	background-repeat: repeat-x;
}
.mian_head ul{ LIST-STYLE-TYPE: none;DISPLAY:inline;}
.mian_head li{ DISPLAY: block;FLOAT: left;height:50px;color:#3F6293;}
.mian_head li.logo{
	width:195px;
	background-image: url(../pages/image/logo_n2.gif);
	background-repeat: no-repeat;
	background-position: center center;
}
.mian_head li.name{
	line-height: 50px;
	background-image:url(../pages/image/icon_user.gif);
	background-repeat: no-repeat;
	background-position: 0px 17px;
	padding-left:20px;
	margin-left:12px;
}
.mian_head li.co{
	line-height: 50px;
	background-image:url(../pages/image/icon_co.gif);
	background-repeat: no-repeat;
	background-position: 0px 16px;
	padding-left:20px;
	margin-left:12px;
}
.mian_head li.exit{
	line-height: 50px;
	float:right;
	padding: 0px 20px 0px 20px;
}
.menu_d1{
	height:100%;
	margin:0px;
	padding:0px;
}
.menu_d1 ul{ 
	list-style:none;
	margin:0px;
	padding:0px;
}
.menu_d1 li{
	width:23px;
	margin:0px;
	cursor:hand;
}
.menu_d1 li.m1{
	height: 65px;
	background-image:url(../pages/image/mian_menu_s4.gif);
	color:#000000;
	padding:5px 0px 0px 2px;
	background-repeat: no-repeat;
}
.menu_d1 li.m2{
	height: 83px;
	background-image:url(../pages/image/mian_menu_s5.gif);
	background-repeat: no-repeat;
	color:#000000;
	padding:7px 0px 0px 2px;
}
.menu_d1 li.m3{
	height: 98px;
	background-image:url(../pages/image/mian_menu_s6.gif);
	background-repeat: no-repeat;
	color:#000000;
	padding:7px 0px 0px 2px;
}
.menu_d1 li.m4{
	height: 83px;
	background-image:url(../pages/image/mian_menu_s5.gif);
	background-repeat: no-repeat;
	color:#000000;
	padding:7px 0px 0px 2px;
}
.menu_d1 li.m5{
	height: 98px;
	background-image:url(../pages/image/mian_menu_s6.gif);
	background-repeat: no-repeat;
	color:#000000;
	padding:7px 0px 0px 2px;
}
.menu_bg{
	background-image:url(../pages/image/mian_menu_bg.gif);
	background-repeat: repeat-x;
}

.menumian1 {
	width:150px;
	background-color:#F6F9FD;
	border: 1px solid #9DB3C5;
}
.bd {
	width:150px;
}


.F_3F6293 {
	color: #333333;
	font-size: 12px;
}
.F_3F6293 a:link {
	color: #333333;
	text-decoration: none;
}
.F_3F6293 a:visited {
	color: #333333;
	text-decoration: none;
}
.F_3F6293 a:hover {
	color: #333333;
	text-decoration: none;
}
.F_000 {
	color: #000;
	font-size: 12px;
}
.F_000 a:link {
	color: #000;
	text-decoration: none;
}
.F_000 a:visited {
	color: #000;
	text-decoration: none;
}
.F_000 a:hover {
	color: #666666;
	text-decoration: none;
}

.menustyle{
	position: absolute;
	visibility: hidden;
	border:1px solid #9DB3C5;
	z-index: auto;
	width: 160px;
	background-color:#F6F9FD;
	height: 100%;
	left: 100px;
	overflow: auto;
}