/*准驾车型*/
ul {
	margin:0;
	padding:0;
}
#carNum{
  background-color:#FFC;
}
#carNums { 
	width: 80%; 
}
#carNums .yui-ac-content { 
    position: absolute; width: 100%; 
    border: 1px solid #404040; background: #fff; 
    overflow: hidden; z-index: 9050;
}
#carNums .yui-ac-shadow {
    position: absolute; margin: .3em;
    width: 100%; background: #a0a0a0;
    z-index: 9049;
}
#carNums ul { 
    padding: 5px 0; 
	  width: 100%; 
}
#carNums li { 
    padding: 0 5px; 
    cursor: default; 
    white-space: nowrap;
}
#carNums li.yui-ac-highlight { 
    background: #FFC; 
}
/*预计交车时间*/
#date3{
	background-color:#EEC;
}
#date4 { 
	width: 80%; 
}
#date4 .yui-ac-content { 
    position: absolute; width: 100%; 
    border: 1px solid #404040; background: #fff; 
    overflow: hidden; z-index: 9050;
}
#date4 .yui-ac-shadow {
    position: absolute; margin: .3em;
    width: 100%; background: #a0a0a0;
    z-index: 9049;
}
#date4 ul { 
    padding: 5px 0; 
	  width: 100%; 
}
#date4 li { 
    padding: 0 5px; 
    cursor: default; 
    white-space: nowrap;
}
#date4 li.yui-ac-highlight { 
    background: #FFC; 
}