
/*
+++++++++++++++++++++++++++++++++++++++++
+  bellow:define  tabber basic css+
+++++++++++++++++++++++++++++++++++++++++
*/
.tabberlive .tabbertabhide {DISPLAY: none;}
.tabber {}
.tabberlive { margin-bottom:1em;}
UL.tabbernav {padding:3px 0; margin:0 0 1px 0;FONT: normal 12px ו;}/*has modify*/
UL.tabbernav LI {display:inline; margin:0; list-style-type:none;}

/*
+++++++++++++++++++++++++++++++++++++++++
+  bellow:define  tabber mouse hover css+
+++++++++++++++++++++++++++++++++++++++++
*/
UL.tabbernav LI A {
border:1px solid #01AEC7; /*define the tabber border color*/
padding:3px 0.5em;
background:#01AEC7 url(../image/tabber/tab_hover.jpg) repeat-x left top;/*define the tabber background image*/
margin-right: 3px; 
height:14px;
text-decoration:none;
border-bottom:none;
}
UL.tabbernav LI A:link {
	COLOR: #5E5E5E;
}
UL.tabbernav LI A:visited {
	COLOR: #5E5E5E;
}
UL.tabbernav LI A:hover {
border-color:#01AEC7;/*define the hover color,this is the default color*/
background:#01AEC7 url(../image/tabber/tab_default.jpg) repeat-x left top;/*define the tabber hover background image*/
COLOR: #000; 
border-bottom:none;
}
/*
+++++++++++++++++++++++++++++++++++
+  bellow:define active tabber css+
+++++++++++++++++++++++++++++++++++
*/

UL.tabbernav LI.tabberactive A {
border-color:#01AEC7;/*define the hover color,this is the default color*/
background:#01AEC7 url(../image/tabber/tab_default.jpg) repeat-x left top;/*define the tabber is seleted background image*/
border-bottom:none;
COLOR:#000;
}
UL.tabbernav LI.tabberactive A:hover {
	COLOR: #5E5E5E;
}

/*
++++++++++++++++++++++++++++++++++++++++
+  bellow:define the content region css+
++++++++++++++++++++++++++++++++++++++++
*/
.tabberlive .tabbertab {
	border: #01AEC7 1px solid; 
	padding:5px;
	 margin-top:-5px;/* has modify===========================*/
}

/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+  bellow:these css is uesful when the js is forbidden, do not dele this css.+
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
.tabberlive .tabbertab H2 {
	DISPLAY: none
}
.tabberlive .tabbertab H3 {
	DISPLAY: none
}
.tabberlive .tabbertab H4 {
	DISPLAY: none
}
.tabberlive .tabbertab H5 {
	DISPLAY: none
}
.tabberlive .tabbertab H6 {
	DISPLAY: none; 
}
