#wrapper{text-align:left;}
#container {width:100%;text-align:left; margin:0px 10px 0px 10px;}
#crash_menu{ padding:5px 15px; line-height:25px;}
#systom_tip p{ padding-left:35px; line-height:23px;}
body#all_title h1{ padding-left:20px;}

ul{list-style:none}
ul.menu{
	margin:10px 0;
	white-space:nowrap;
	height:2px; /*stops ie expanding background of list at small screen sizes*/
	width:100%; /* force layout */
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

.menu li {
	float:left;
	width:11%;/* 100% divided by ten items */

	white-space:nowrap;
}
.menu li a {
	line-height:20px;
	height:20px;/*stops ie expanding background of list at small screen sizes*/	
	position:relative;
	padding:3px 5px 1px;
	display:block;
	margin:0 5px;
}

h2{padding-left:200px; cursor:pointer; clear:both; margin:100px 0px 0px 0px;}
h2.case{ text-align:center; line-height:25px;}
form{ clear:both;}
dl{ margin:0;padding:0;width:100%}
dl dt,dl dd{ float:left; width:9%;display:block;}
dl dt p{ padding:0 0 0 10px; line-height:22px;}/*has modify*/
dl dd p{ padding:0 0 0 10px; line-height:22px; }
dl dd p.multi_box{height:22px; }
dl dd.diffent p{ height:22px;}


dd.fix_wid{ width:12%;}
dl.head{ height:20px;}
dl p{ word-break:break-all;}
.notopborder{border-top:none;}
dl.case_info_2 {}/*has modify================*/
dl.case_info_2 dt{ width:14%;}
dl.case_info_2 dd{ width:16%;}
dl.case_info_2 dd.multi{ width:84%;}
p.multi_box{ width:550px;}
dl.case-list-single dt{ width:18%}
dl.case-list-single dd{ width:80%;}
dl.case-list-single dd ul{width:450px;}
dl.case-list-single dd ul li{display:block; float:left; padding:0 10px; word-wrap:no-wrap;}


/* clear without structural mark up*/
dl:after{
    content:"."; 
    display:block; 
    height:0; 
    clear:both; 
    visibility:hidden;
}
dl{
    display:inline-block;
}

 /* mac hide \*/
    * html dl{height: 1%;}
      dl{display: block;}
 /* End hide */
 
 .clearfix:after{
    content:"."; 
    display:block; 
    height:0; 
    clear:both; 
    visibility:hidden;
}
.clearfix{
    display:inline-block;
}

 /* mac hide \*/
    * html .clearfix{height: 1%;}
      .clearfix{display: block;}
 /* End hide */
 
 
/*opreat fix width----------------------------------*/
.space{height:15px; overflow:hidden;}
form.odds dl.head dt,form.odds dl.content dt{ width:5%;}
form.odds dl.head dd,form.odds dl.content dd{ width:9%;}
form.odds dl.content dd.opreat_action{ width:12%;}
/*opreate fix width---------------------------------*/


/*btn style css*/
.add{text-align:right; padding:10px 0;}
.add input{width:100px;height:22px; line-height:21px;vertical-align:middle; padding-left:15px;}
.btn_refresh,.btn_refresh_over{height:20px; line-height:18px; padding-top:1px; margin:0 0 0px 0;vertical-align:middle; letter-spacing:10px;}
.btn_refresh,.btn_refresh_over{padding-left:10px;}
.upload,.upload_hover{}

/*btn style css*/


/*new style style=================================*/
body#all_title h2{ padding:5px 0 5px 20px;}
p input{ height:18px; width:90px;}
input{ height:20px;}
p.multi_box input{ width:auto; height:20px;}
dd.gallary{width:600px; height:125px; padding:10px 0; overflow:auto; border-left:1px solid #5FCCDC;}
dd.gallary div{width:1000px;}
dd.gallary img{ width:100px;height:75px;}/*has modify*/
dd.gallary a{ padding:5px;float:left; display:block;}
/*new style style=================================*/