.clearfix:after{
    content:"."; 
    display:block; 
    height:0; 
    clear:both; 
    visibility:hidden;
}
.clearfix{
    display:inline-block;
}

 /* mac hide \*/
    * html .clearfix{height: 1%;}
      .clearfix{display: block;}
 /* End hide */

form{
  background-color: #fff;
  padding: 4px 4PX 10PX 4PX;
  display: block;
}


.popup{ width:640px; height:200px; margin:0 auto; border:1px solid #5FCCDC;}/*ths define the width of popup-------------change it when you need change--------*/
.header{ font-size:12px; text-align:right;color: #01465A; height:25px; line-height:25px; padding:2px 10px; background:#fff url(../../image/popup/head_bg.jpg) repeat-x left top; border-bottom:1px solid #5FCCDC; }
.header span{ font-weight: bold; float:left; display:block;}
form{ margin:0; }
form select{ width:180px; float:left; margin:10px; padding:0; display:block;}/*the value of width is 180;(180+10+10)*3=600*/