body{ font-size:100%; color:#000;}
#container{ text-align: left; margin:0; width:auto; padding:15px;}
#wrapper{width:100%; float:none;}
#content{width:100%;margin-left:0; padding:0;}
#navigation {display:none; float:none;margin-left:0; width:0;}
