<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-autowire="byName" default-lazy-init="false">

	<bean id="jbpmConfiguration"
		class="org.springmodules.workflow.jbpm31.LocalJbpmConfigurationFactoryBean">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="configuration" value="classpath:/bpm/jbpm.cfg.xml" />
		<property name="processDefinitionsResources">
			<list>
			 
	 <!-- 	<value>classpath:/process/fcomm/processdefinition.xml</value>	
			 <value>classpath:/process/pcomm/processdefinition.xml</value>	 	
		 	<value>classpath:/process/pevection/processdefinition.xml</value>
		    <value>classpath:/process/fevection/processdefinition.xml</value>
			 <value>classpath:/process/papply/processdefinition.xml</value>	
			 <value>classpath:/process/fapply/processdefinition.xml</value>	
			 <value>classpath:/process/pcontract/processdefinition.xml</value>
			 <value>classpath:/process/fcontract/processdefinition.xml</value>
			 <value>classpath:/process/passet/processdefinition.xml</value>
			 <value>classpath:/process/fasset/processdefinition.xml</value>
			<value>classpath:/process/pcontract/processdefinition.xml</value>
			 <value>classpath:/process/fcontract/processdefinition.xml</value>
			 <value>classpath:/process/pairplane/processdefinition.xml</value>
	 -->
			</list>	
		</property>
	</bean>
	
	<bean id="jbpmTemplate"
		class="org.springmodules.workflow.jbpm31.JbpmTemplate">
		<constructor-arg index="0" ref="jbpmConfiguration" />
	</bean>		
	<bean id="jbpmHBM" class="java.util.ArrayList">
		<constructor-arg>
			<list>
				<value>/WEB-INF/lib/jbpm-jpdl.jar</value>
				<value>/WEB-INF/lib/jbpm-identity.jar</value>
			</list>
		</constructor-arg>
	</bean>
	<!-- BPM服务 -->
	<bean id="workFlowService" class="cn.com.sinosoft.bpm.common.spring.WorkFlowServiceImpl">
	</bean>
	
	  <bean id="bpmService"
		class="cn.com.sinosoft.bpm.common.spring.JbpmServiceImpl">
	</bean>

	<bean id="jbpmEngine" class="cn.com.sinosoft.bpm.common.util.JBPMEngine">
	</bean>



	
</beans>