<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean name="quartzScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="cronTrigger"/>
			</list>
		</property>
		<property name="configLocation" value="classpath:config/quartz.properties"/>
	</bean>

	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="jobDetail"/>
		<!--朝九晚九工作时间内每10分钟执行一次-->
		<property name="cronExpression" value="0 0/10 9-21 *,* * ?"/>
	</bean>

	<!-- 使用pojo做job，指定pojo和method -->
	<bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="timerMailSender"/>
		<property name="targetMethod" value="send"/>
	</bean>

	<!-- 邮件发送类 -->
	<bean id="timerMailSender" class="ins.arch4demo.common.TimerMailSender"
		  autowire="byName" lazy-init="true">
		<property name="from" value="piccclaim@sina.com"/>
		<property name="to" value="piccclaim@sina.com"/>
	</bean>
</beans>
